/*
* @Author: x
* @Date:   2017-10-23 11:53:14
* @Last Modified by:   x
* @Last Modified time: 2017-10-23 12:01:35
*/
.footer {
	padding-bottom: 10px;
}
.footer .links {
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link {
	padding: 0 10px;
}
.footer .copyright {
	text-align: center;
}