<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<span class="link js-login">Log In</span>
				<span class="link js-register">Sign Up</span>
			</span>
			<span class="user login">
				<span class="link-text js-login">
					Welcome! 
					<span class="username"></span>
				</span>
				<span class="link js-logout">Sign Out</span>
			</span>
		</div>
		<ul class="nav-list">
			<li class="nav-item">
				<a class="link" herf='./cart.html '>
					<i class="fa fa-shopping-cart"></i>
				Cart (<span class="cart-cont">0</span>)
				</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./order-list.html">My Orders</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./user-center.html">My Info</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./about.html">About DaigouLin</a>
			</li>
		</ul>
	</div>
</div>